[submodule "Contract/lib/forge-std"]
	path = Contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Contract/lib/openzeppelin-contracts"]
	path = Contract/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Contract/lib/v2-core"]
	path = Contract/lib/v2-core
	url = https://github.com/uniswap/v2-core
